html {
    overflow-x: hidden;
    @media screen and (min-width: 110em) {
        font-size: 105.625%;
        //font-size: 112.5%;
    }

    @media screen and (min-width: 128em) {
        font-size: 112.5%;
    }
}
body {
    position: relative;
    overflow-x: hidden;
}

.main {
    background-color: $xlight-gray;
    background-image: linear-gradient(45deg, $medium-gray 0, transparent 50vh);
    background-attachment: fixed;
    padding: 4rem 0;
}


.button {
    font-weight: $global-weight-bold;
}
table {
    font-size:.875rem;
    .button {
        margin:.25em 0;
        & + button {

        }
    }

    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

table.lastcolcenter {
    td:last-child() {
        text-align: center;
        width: min-content;
    }
}
table.lastcolright {
    td:last-child() {
        text-align: right;
    }
}


.breadcrumbwrapper {
    border-bottom:1px solid $light-gray;
    //background-color: $xlight-gray;
    padding:.5rem 0;
}