.pagetitle {
    margin: 0 0 0.875em;
    color: $primary-color;
}

.has-lines {
    text-align: center;
    position: relative;
    font-weight: $global-weight-normal;
    line-height: 1 !important;
    font-size: 0.875em;
    margin: 0.875em 0;

    &::before,
    &::after {
        position: absolute;
        display: block;
        content: "";
        height: 1px;
        width: calc(50% - 3rem);
        border-bottom: 1px solid $medium-gray;
        top: 50%;
    }

    &::after {
        left: auto;
        right: 0;
    }
}
