.filterblock {
    margin: 2rem auto;
    background-color: $white;
    border: 1px solid $light-gray;
    padding: 2.5% 2.5%;
}

.filterblock__title {
    font-size: 1.25rem;
    margin: 0 0 0.5em;
}

.filterblock__radiogroup {
    display: flex;
    flex-wrap: wrap;

    label {
        margin-right: 3%;
    }
}
