<div class="bannerwrap">
  <section class="banner grid-container" role="banner">
    <div class="banner__logosection">
      <a class="banner__logo" href="{{ root }}index.html">
        <img src="{{ root }}assets/img/logo.svg" alt="ACE Telecom" />
      </a>
    </div>
    <div class="banner__controls">
      <nav class="banner__helpers">
        {{#if loggedin}}
        <div class="banner__clientblock">
          <select name="banner__clientselect" id="banner__clientselect">
            <option value="">Elastic 2000 Kft.</option>
            <option value="" selected>Tempura Trans Zrt.</option>
            <option value="">Kovács Elek - magánszemély</option>
            <option value="">Előfizetői hozzárendelés&hellip;</option>
          </select>
        </div>
        {{/if}}
        <ul class="banner__helpermenu">
          {{#if loggedin}}
          <li><a href="#" data-toggle="usernav">Fiók kezelése</a></li>
          <li><a href="#">Kijelentkezés</a></li>
          {{else}}
          <li><a href="#">Vállalati</a></li>
          <li><a href="#">Lakossági</a></li>
          <li><a href="#">Viszonteladók</a></li>
          <li><a href="#">Partnerek</a></li>
          {{/if}}

          <li><a href="#" class="accent">Segíthetünk?</a></li>
        </ul>
        <div
          class="dropdown-pane top small usernavpane"
          id="usernav"
          data-dropdown
          data-hover="true"
          data-hover-pane="true"
        >
          <ul class="usernavpane__menu">
            <li><a href="#">Fiók kezelése</a></li>
            <li><a href="#">Előfizető hozzárendelés</a></li>
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">Kijelentkezés</a></li>
          </ul>
        </div>
      </nav>

      <nav class="banner__mainnav">
        <ul class="menu menu--main dropdown" data-dropdown-menu>
          {{#if loggedin}}
          <li>
            <a href="#">Szolgáltatások</a>
            <ul class="menu">
              <li><a href="{{ root }}email-accounts.html">E-mail beállítása</a></li>
              <li><a href="{{ root }}voip-log.html">Voip napló</a></li>
            </ul>
          </li>
          <li><a href="#">Cégadatok</a></li>
          <li><a href="#">Pénzügyek</a></li>
          {{else}}
          <li>
            <a href="{{ root }}login.html">Online Ügyfélszolgálat | Bejelentkezés szükséges</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </section>
</div>
