<div class="bannerwrap">
  <section class="banner grid-container" role="banner">
    <div class="banner__logosection">
      <a class="banner__logo" href="{{ root }}index.html">
        <img src="{{ root }}assets/img/logosimple.svg" alt="ACE Telecom" />
      </a>
    </div>
    <div class="banner__controls">
      <nav class="banner__helpers">
        <ul class="banner__helpermenu">
          <li><a href="#">Fiók kezelése</a></li>
          <li><a href="#">Kijelentkezés</a></li>
          <li><a href="#" class="accent">Segíthetünk?</a></li>
        </ul>
      </nav>
      <nav class="banner__mainnav">
        <ul class="menu menu--main dropdown" data-dropdown-menu>
          <li>
            <a href="#">Szolgáltatások</a>
            <ul class="menu">
              <li><a href="{{ root }}email-accounts.html">E-mail beállítása</a></li>
              <li><a href="{{ root }}voip-log.html">Voip napló</a></li>
              <li><a href="#">Tárhely</a></li>
              <li><a href="#">Domain és DNS</a></li>
            </ul>
          </li>
          <li><a href="#">Cégadatok</a></li>
          <li><a href="#">Pénzügyek</a></li>
        </ul>
      </nav>
    </div>
  </section>
</div>
