<aside class="loginbox">
    <h2 class="loginbox__title">Bejelentkezés</h2>
    <a href="#" class="button fb small expanded"><img src="{{roots}}assets/img/facebook.svg">Facebook belépés</a>    
    <p class="has-lines">vagy</p>
    <a href="#" class="button google small expanded"><img src="{{roots}}assets/img/google.svg">Google belépés</a>
    <p class="has-lines">vagy</p>
    <form data-abide novalidate>
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <label
            >E-mail
            <input type="text" required placeholder="Add meg e-mail címedet" />
          </label>
        </div>
        <div class="cell">
          <label
            >Jelszó
            <input type="password" required placeholder="Add meg jelszavadat" />
          </label>
        </div>
      </div>
      <div class="grid-x grid-margin-x">
        <div class="cell">
          <button class="button expanded secondary" type="submit" value="Submit">Belépés</button>
        </div>
      </div>
    </form>
    <p class="text-center">
      <label>Még nincs fókod? <a href="{{ root }}registration.html">Regisztrálj itt</a></label
      ><small><a href="#">Elfelejtett jelszó</a></small>
    </p>
    </label>
</aside>
