<div class="reveal full mobilemodal" id="mobilemodal" data-reveal>
  <ul class="mobilemodal__menu">
    <li><a href="#">Vállalati</a></li>
    <li><a href="#">Lakossági</a></li>
    <li><a href="#">Viszonteladók</a></li>
    <li><a href="#">Partnerek</a></li>
    <li class="is-active"><a href="#">Ügyfélszolgálat</a></li>
    <li><a href="#" class="accent">Segíthetünk?</a></li>
  </ul>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">x</span>
  </button>
</div>
