{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ACE Telecom | Online ügyfélszolgálat</title>
    <link rel="stylesheet" href="{{ root }}assets/css/app.css" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ root }}assets/img/favicon-32x32.png" />
  </head>
  <body class="{{ bodyclass }}">
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3&appId=1801231636785994&autoLogAppEvents=1"
    ></script>
    {{> banner }}
    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    <main class="main {{ mainclass }}" role="main">
      {{> body}}
    </main>
    {{> breadcrumb }}
    {{> sitefooter }}
    <script src="{{ root }}assets/js/app.js"></script>
  </body>
</html>
